*{
    margin: 0;
    padding: 0;  
}

body {
  background-color: #0d0302;
}

header {
  background: #333;
  background-image: linear-gradient(to top, #56311d 9%, #0d0302 67%);
  padding: lrem 0;
  text-align: center;
}

header h1 {
    color: #FFF;
    font-size: 2.5 rem;
}

header h3 {
    color: #FFF;
    margin: 0.5 rem 0 0;
    font-style: italic;
}

header nav {
    background-color: #8f7150;
    overflow: hidden;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    float: center;
}

header nav ul li a {
    padding: 12px 22px;
    display: block;
    color: #fff;
    text-decoration: none;
    font-family: Arial;
    font-zise: 2.5 rem;
}

header nav ul li a:hover {
    background: #9F8569;
}

.menu-fixed{
    position: fixed;
    z-index:1000;
    top:0;
    width: 100%;
}

section {
  max-width: 800 px;
  margin: 2 rem auto;
  padding: 0 lrem;
}

section h1{
    color: #fff;
    text-align: center;
    font-zise: 52px;
}

.contenedor {
    text-align: justify;
    padding: 42px;
    color: #fff;
}

.contenedor h2{
    font-zise: 48px;
}

.contenedor .sub {
    font-style: italic;
    font-size: 20px;
}

.contenedor p{
    font-size: 16px;
}

.entrada {
  padding: 1.5 rem;
  margin-bottom: 2 rem;
  border-radius: 8 px;
  box-shadow: 0 2 px 5 px rgba (0,0,0,0,1);
}

.entrada h2 {
  color: #007bff;
}

.entrada .fecha {
  font-style: italic;
  color: #777;
  font-size: 0.9 rem;
}

.entrada .sub {
  font-style: italic;
  color: #fff;
  font-size: 0.9 rem;
}

.entrada a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.entrada p{
    color: #fff;
}

.entrada a:hover {
  text-decoration: underline;
}

